 <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/jouer">Les Jouers</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tournoi">Les Tournois</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/phase">Les Phases</a>
    </li>

  
  <li class="nav-item">
    <a class="nav-link" routerLink="/product">Les produit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/categories">Les categorie</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">About med salah</a>
  </li>
  </ul>
</nav>
<div *ngIf="loaderService.isLoading | async">
  <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
  <mat-spinner > </mat-spinner>
</div >
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">hello world</h1>

    </div>
  </div>
</div>
<img src="assets/image.jpg">
<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">bye World</h1>

    </div>
  </div>
</div>




